@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
html,body{
    padding-top: 50px;
    background-color: #09013D;
    background-size: 100%;
    font-family: 'Poppins', sans-serif;
}
::selection{
    color: #fff;
    background: url("../../assets/img/BG2.png");
    background: #09013D;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container .form{
    background: url("assets/img/CUSTOMER.png");
    border-radius: 5px;
}
.container .form form .form-control{
    height: 50px;
    font-size: 20px;
}
.container .form form .forget-pass{
    margin: -15px 0 15px 0;
}
.container .form form .forget-pass a{
   font-size: 15px;
}
.container .form form .button{
    background: #6665ee;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.container .form form .button:hover{
    background: #5757d1;
}
.container .form form .link{
    padding: 5px 0;
}
.container .form form .link a{
    color: #6665ee;
}
.container .login-form form p{
    font-size: 14px;
}
.container .row .alert{
    font-size: 14px;
}
